*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box; 
}

body{
 font-family: 'Times New Roman';
}

header{
    text-align:right;
    padding-left: 20px;
    color: none;
}
.head-text {
    margin: 20px;
}
.head-text a{
    text-decoration: none;
    color: gray;
    margin: 10px;
}
.image1{
    text-align: center;
    margin: -3px;
}

.search-section{
    
    border-radius: 10px;
    text-align: left;
    margin: auto;
    margin-top: 15em;
}
#search-bar{
    border: 1px solid rgb(226, 226, 226);
    width: 600px;
    height: 30px;
    margin: auto;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 1.2em;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

.button{
    height: 2.5em;
    border-radius: 10px;
    border:gray ;
    width: 10em;
    text-align: center;
    color: gray;
    cursor: pointer;
}
#paragraph{
    color: gray;
}
footer{
    background-color: rgb(174, 174, 174);
    text-align: left;
}

#lang{
    color: blue;
}
