*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0px;
    border: 3px solid black;
    display: flow-root; /*anything flowing would be inside now*/
    
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;

}
#box2{
    background-color: red;
    margin-top: 50px;
    margin-bottom: 50px;



}
#box3{
    background-color: blue
}
#h11{
    color: black;
    font-family: Caveat Brush;
    border-radius: 10px;
    border: 3px solid blueviolet;

}

h2{
    text-shadow: 3px 3px 3px red;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: darkgray;
    box-shadow: 3px 3px 5px blue;
}
#p1{
    color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted green;
    border-right: 3px dotted blue;
    border-radius: 10px;
    border: 3px solid black;
}

#p2{
    color: rgb(102, 222, 255);
}
#p3{
    color: #59ff5f;
}

.odd{
    color: red;
}

#font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

#imgg{
    float: left;
    margin-right: 10px;
}
#imggg{
    float: right;
    margin-left: 10px;
}

.overflow{
    border: 2px solid black;
    height: 45px;
    overflow: auto;
}

#div-display{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}

#span-display{
    background-color: blue;    
    width: 100px;
    height: 100px;
    display: inline;
    display: hidden;
}

.box2{
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-width: 75%;
}

.container{
    background-color: blueviolet;
    height: 100vh;
}

#postion1{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;
    top: 100px;
    left: 100px;
}

#postion2{
    width: 200px;
    height: 200px;
    background-color: rgb(116, 105, 86);
    position: fixed;
    right: 0px;
    top: 100px;
}

#postion3{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: absolute;
    top: 50px;
    left: 50px;
}

#postion4{
    width: 200px;
    height: 200px;
    background-color: pink;
    position: sticky;
    left: 305px;
    bottom: 50px;
}

#combinators{
    border: 2px solid black;
}
#combinators > p{
    background-color: yellow;
}

#combinators + p{
    background-color: lightgreen;
}
#combinators ~ p{
    background-color: lightblue;
}
#linkk{
    font-size: 60px;
    padding-left: 50px;
}
a:link{
    color: rgb(47, 194, 121);
}
a:hover{
    color: blueviolet;
    font-size: 1.1em;
}
a:active{
    color: rgb(224, 29, 55);
    font-size: 1.1em;
}

a:visited{
    color: green;
}

li:hover{
    background-color: yellowgreen;
}

li:not(:hover){
    background-color: grey;
}

li:nth-child(even){
    background-color: red;
}

#grtt p{
    background-color: rgb(192, 192, 247);
    padding: 10px;
    display: none;
    font-size: 20px;

}

#grtt:hover p{
    display: block;

}

h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: yellow;
}

p::selection{
    color: rgb(8, 235, 8);
    background-color: gray;
}

/* #fruit li::before{

    content: "✔️";
} */

#apple::after{
    content:"🍎";
}

#orange::after{
    content:"🍊";
}

#banana::after{
    content:"🍌";
}

#fruit li::marker{
    content: "✔️";
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown button{
    background-color: rgb(231, 230, 230);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

}


.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;

}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(196, 196, 196);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.712);

}.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: rgb(150, 150, 150);
}

.dropdown a:hover{
    background-color: rgb(107, 107, 107);
    border-radius: 5px;
}