*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0px;
    border: 3px solid black;
    display: flow-root; /*anything flowing would be inside now*/
    
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;

}
#box2{
    background-color: red;
    margin-top: 50px;
    margin-bottom: 50px;



}
#box3{
    background-color: blue
}
#h11{
    color: black;
    font-family: Caveat Brush;
    border-radius: 10px;
    border: 3px solid blueviolet;

}

h2{
    text-shadow: 3px 3px 3px red;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: darkgray;
    box-shadow: 3px 3px 5px blue;
}
#p1{
    color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted green;
    border-right: 3px dotted blue;
    border-radius: 10px;
    border: 3px solid black;
}

#p2{
    color: rgb(102, 222, 255);
}
#p3{
    color: #59ff5f;
}

.odd{
    color: red;
}

#font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

#imgg{
    float: left;
    margin-right: 10px;
}
#imggg{
    float: right;
    margin-left: 10px;
}

.overflow{
    border: 2px solid black;
    height: 45px;
    overflow: auto;
}

#div-display{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}

#span-display{
    background-color: blue;    
    width: 100px;
    height: 100px;
    display: inline;
    display: hidden;
}

.box2{
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-width: 75%;
}

.container{
    background-color: blueviolet;
    height: 100vh;
}

#postion1{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;
    top: 100px;
    left: 100px;
}

#postion2{
    width: 200px;
    height: 200px;
    background-color: rgb(116, 105, 86);
    position: fixed;
    right: 0px;
    top: 100px;
}

#postion3{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: absolute;
    top: 50px;
    left: 50px;
}

#postion4{
    width: 200px;
    height: 200px;
    background-color: pink;
    position: sticky;
    left: 305px;
    bottom: 50px;
}

#combinators{
    border: 2px solid black;
}
#combinators > p{
    background-color: yellow;
}

#combinators + p{
    background-color: lightgreen;
}
#combinators ~ p{
    background-color: lightblue;
}