body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9dff00;
    font-size: 12px;
}
.survey-section{
    padding: 20px;
    background: white;
    margin-right: 80%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.514);
}
#btn{
    background-color: #709c29;
    color: white;
    padding: 10px 140px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

#comment{
    width: 300px;
    height: 100px;
    border-radius: 5px;

}

#enter{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

#dropdown{
    width: 310px;
    height: 40px;
    border-radius: 5px;
}
::placeholder {
    font-size: 14px;
    padding-left: 10px;
}
