body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.about{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

#achievements{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}