.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
/* within pagintion class find a tag with class active */
.pagination a.active{
    background-color: rgb(149, 219, 43);
    font-weight: bold;
    border-radius: 5px;

}

.pagination a:hover:not(.active){
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
}